<h1>Patients</h1>

<table class="table table-striped table-hover"> 
<thead class="table-hover">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th colspan=3 class = "text-center" >Actions</th>   
    </tr>
    </thead>

    <tbody>
    <% @patients.each do |patient| %>
        <tr>
            <td><%= link_to patient.name,patient_path(patient)  %></td>
            <td><%= patient.age %></td>
            <td><%= patient.gender %></td>
            <td><%= button_to "Edit",edit_patient_path(patient), method: :get, class: "btn btn-outline-warning" %></td>
            <td><%= button_to "Delete",patient_path(patient), method: :delete, class: "btn btn-outline-danger", form: { data: { turbo_confirm: 'Are you sure?' } } %></td>
        </tr>
    <% end %>
    </tbody>
</table>
</br>

<%= link_to "New Patient", new_patient_path, class: "btn btn-primary" %>

